<!DOCTYPE html>
    <html>
    <head>
            {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{mymap.js}}
            {{sndmap.js}}
    </head>
    <body>
        <h1>Flask Google Maps Example</h1>

        <h2> Template function with multiple markers </h2>
        {% with map=googlemap_obj("another-map", 32.8801, -117.2340, markers=[(32.8801, -117.2340), (32.8092, -117.2340)]) %}
            {{map.html}}
            {{map.js}}
        {% endwith %}


    </body>
</html>